@model AvaliadorSalas.ViewModels.RelatorioHumVm

@{ ViewData["Title"] = "Gráfico Humidade"; }



<div class="row">

    <div class="col-lg-10 text-center">
        <div id="chart_div_hum" style="width: 100%; min-height: 500px"></div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['line'] });
        google.charts.setOnLoadCallback(function () { drawChartHum(); });
        $(window).resize(function () { drawChartHum(); });
    </script>
}

